.equipe {
    background:linear-gradient(#e5e5e5, green);
    display: flex;
    flex-direction: column;
    
    
}

.equipe__titulo {
    text-align: center;
    color: green;
    font-family: Pacifico, cursive;
    font-size: 60px;
    text-shadow: 0 4px 4px rgba( 0, 0, 0, 0.75);
    padding: 2rem;

}

.equipe__conteudo {
    display: flex;
    flex-direction: column;
}

.equipe__descrição {
    color: #595959;
    font-weight: 100;
    font-size: 25px;
    font-weight: bold;
    padding: 3rem;
    text-align: center;
}

.equipe__imagem {
    margin-left: 35%;
    width: 30%;  
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .equipe__imagem {
        width: 90%;
        padding: 0;
        margin: 1rem 0 0 1.20rem;
    } 

}