.rodape__logo {
    width: 16%;
    position: absolute;
    border-radius: 50%;
    margin-left: 2rem;
    border: 2px solid black;
    
    
}

.rodape {
    background: #e5e5e5;
    padding: 1rem;
    
}
.rodape__whatsapp {
    width: 1.5rem;
    
    
}
.rodape__contato {
    color: green;
    font-family: Pacifico, cursive;
    text-shadow: 0 4px 4px rgba( 0, 0, 0, 0.75);
    font-size: 30px;
    

}

.rodape__lista {   
    list-style: none;
}

.rodape__item {
    text-align: center;

}

.rodape__item--peso {
    font-weight: 900;
}

.rodape__descricao {
    padding: 1rem 0 0 0;
    font-weight: 600;
}

.botao__rodape {
    background-color: green;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    transition: 1s;   
}

.botao__rodape:hover {
    transform: scale(1.2);
}

.rodape__botao--descricao {
    text-decoration: none;
    color: white;

}

.rodape__whatsapp--descricao {
    text-decoration: none;
    color: black;
}

.rodape__whatsapp--descricao:hover {
    text-decoration: underline;
}

@media  screen and (max-width: 768px) {
    .rodape__logo {
        width: 22%;
        

    }

    .rodape {
        padding-bottom: 5rem;
    }

    .botao__rodape {
        padding: 1rem;
    }

    .rodape__contato {
        text-align: end;
        margin-right: 2rem;
    }

    .rodape__item--peso {
        text-align: end;
    }
}