.sobre {
    background: #e5e5e5;
    text-align: center;
}
.sobre__titulo {
    color: green;
    font-family: Pacifico, cursive;
    font-size: 60px;
    text-shadow: 0 4px 4px rgba( 0, 0, 0, 0.75);
    padding: 3rem;
}

.sobre__descricao {
    color: #595959;
    font-weight: 100;
    font-size: 25px;
    font-weight: bold;
    padding: 3rem;
    margin-bottom: 0;
    
}

.sobre__imagem {
    width: 30%;
    border-radius: 50%;
    
    
}